{% extends "layout.html" %}
{% block title %}Activities{% endblock %}
{% block pagename %}Latest activities{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js"
        crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
        crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<p>
<form>
    <label for="sport">Sport</label>
    <select name="sport" id="sport" value="{{ sport }}">
        {% for sport_ in sports %}
        <option value="{{ sport_ }}" {{ "selected" if sport_ == sport }}>{{ sport_ }}</option>
        {% endfor %}
    </select>
    <label for="date_min">From</label>
    <input type="date" name="date_min" id="date_min" value="{{ date_min }}">
    <label for="date_min">To</label>
    <input type="date" name="date_max" id="date_max" value="{{ date_max }}">
    <input type="submit" value="Reload">
</form>
</p>

{{ history_div|safe }}
{{ history_script|safe }}

<table class="table">
  <thead>
    <tr>
      <th>date</th>
      <th>time</th>
      <th>name</th>
      <th>sport</th>
      <th>duration</th>
      <th>km</th>
      <th>km/h</th>
      <th>hr</th>
      <th></th>
      <th>spm</th>
    </tr>
  </thead>
  <tbody>
    {% for activity, summary, array_hr in zip(activities, summaries, arrays_hr) %}
    <tr>
      <td>{{ activity.datetime_start.date()|ignore_none }}</td>
      <td>{{ activity.datetime_start.time()|ignore_none }}</td>
      <td>
        <a href={{ url_for("view_activity", id_=activity.id) }}>
          {{ activity.name if activity.name is not none else "unnamed" }}
        </a>
      </td>
      <td>
          {{ activity.sport|ignore_generic }}
          {% if activity.sub_sport != "generic" %}
          ({{ (activity.sub_sport) }})
          {% endif %}
      </td>
      <td>{{ summary.duration|seconds_to_dhms|ignore_none }}</td>
      <td>{{ summary.distance|meters_to_km|ignore_none }}</td>
      <td>{{ summary.speed|ignore_none }}</td>
      <td>{{ summary.heart_rate|ignore_none }}</td>
      <td>
          {% if array_hr is not none %}
          <svg version="1.1"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               height="15"
               width="{{arrays_hr[0].size}}"
               aria-labelledby="title"
               role="img">
              <title id="title">Distribution of heart rate</title>

              <rect
                y="-1"
                height="16"
                x="{{hr_zones_segments[0, 0]}}"
                width="{{hr_zones_segments[0, 1]}}"
                fill="#6ec"
                >
              </rect>
              <rect
                y="-1"
                height="16"
                x="{{hr_zones_segments[1, 0]}}"
                width="{{hr_zones_segments[1, 1]}}"
                fill="#ec6"
                >
              </rect>
              <rect
                y="-1"
                height="16"
                x="{{hr_zones_segments[2, 0]}}"
                width="{{hr_zones_segments[2, 1]}}"
                fill="#e66"
                >
              </rect>

              {% for hr in array_hr %}
              <rect
                y="{{0.5 * (15 - 100 * hr)}}"
                height="{{100 * hr}}"
                x="{{loop.index}}"
                width="1"
                stroke="#222"
                fill="#222"
                >
              </rect>
              {% endfor %}
          </svg>
          {% endif %}
      </td>
      <td>{{ summary.step_rate|ignore_none }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
