{% extends "layout.html" %}
{% block title %}Activities{% endblock %}
{% block pagename %}Latest activities{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      {% for field in activity_fields %}
      {% if field == "datetime" %}
      <th>date</th>
      <th>time</th>
      {% else %}
      <th>{{ field }}</th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for id_, values in zip(activity_ids, activity_values) %}
    <tr>
      {% for field, value in zip(activity_fields, values) %}
      {% if field == "name" %}
      <td>
        <a href={{ url_for("view_activity", id_=id_) }}>
          {{ value }}
        </a>
      </td>
      {% elif field == "datetime" %}
      <td>{{ value.date() }}</td>
      <td>{{ value.time() }}</td>
      {% elif field == "duration" %}
      <td>{{ value|seconds_to_dhms }}</td>
      {% elif field == "distance" %}
      <td>{{ value|meters_to_km }}</td>
      {% elif value is none or value == "generic" %}
      <td>-</td>
      {% else %}
      <td>{{ value }}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
