{% extends "layout.html" %}
{% block title %}Activity{% endblock %}
{% block pagename %}
Activity {{ id_ }} - {{ activity.name }}
{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js"
        crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
        crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col">
<table class="table">
    <tr>
        <th>date</th>
        <td>{{ activity.datetime_start.date()|ignore_none }}</td>
    </tr>
    <tr>
        <th>time</th>
        <td>{{ activity.datetime_start.time()|ignore_none }}</td>
    </tr>
    <tr>
        <th>name</th>
        <td>{{ activity.name if activity.name is not none else "unnamed" }}</td>
    </tr>
    <tr>
        <th>sport</th>
        <td>
            {{ activity.sport|ignore_generic }}
            {% if activity.sub_sport != "generic" %}
            ({{ (activity.sub_sport) }})
            {% endif %}
        </td>
    </tr>
</table>
</div>
<div class="col">
<table class="table container">
    <tr>
        <th>duration</th>
        <td>{{ summary.duration|seconds_to_dhms|ignore_none }}</td>
    </tr>
    <tr>
        <th>distance</th>
        <td>{{ summary.distance|meters_to_km|ignore_none }}</td>
    </tr>
    <tr>
        <th>speed</th>
        <td>{{ summary.speed|ignore_none }}</td>
    </tr>
    <tr>
        <th>heart_rate</th>
        <td>{{ summary.heart_rate|ignore_none }}</td>
    </tr>
    <tr>
        <th>step_rate</th>
        <td>{{ summary.step_rate|ignore_none }}</td>
    </tr>
    <tr>
        <th>ascents</th>
        <td>{{ summary.ascents|ignore_none }}</td>
    </tr>
    <tr>
        <th>descents</th>
        <td>{{ summary.descents|ignore_none }}</td>
    </tr>
</table>
</div>
</div>
</div>

{{ plots_div | safe }}
{{ plots_script | safe}}

{% endblock %}
