<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://classless.de/classless.css">
</head>
<body>
  <title>Activities</title>
  <table>
    <!-- <th> -->
    <!--   {% for field in activities %} -->
    <!--   <td>{{ field }}</td> -->
    <!--   {% endfor %} -->
    <!-- </th> -->
    {% for activity_values in activities_values %}
    <tr>
      <td>
        <a href={{ url_for("view_activity", id_=activity_values[0]) }}>
          view
        </a>
      </td>
      {% for value in activity_values %}
      <td>{{ value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>
